<h1>Cadatro de empresas</h1>
<br>
<p-table [columns]="cols" [value]="empresas" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [paginator]="true" 
    [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th>
                Ações
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>
                <button routerLink="/empresas/{{ rowData.id }}" class="btn btn-warning">
                    Editar
                </button>
                <button (click)="excluirEmpresa(rowData)" class="btn btn-danger">
                    Excluir
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
<div>
    <button [routerLink]="['/cadastro']" routerLinkActive="router-link-active"  class="btn btn-primary">Nova empresa</button>
</div>